In [2]:
# seasonality
def seasonality(date):
    """
    Return the season given the date.

    date: Exception date 
    
    1 = winter
    2 = spring
    3 = summer 
    4 = Fall
    
    date thresholds are referenced from
    https://www.timeanddate.com/calendar/seasons.html
    """
    date = str(date)
    if date < "2020-03-19":
        return "winter"
    
    elif date < "2020-06-20":
        return "spring"
    
    elif date < "2020-09-22":
        return "summer"
    
    elif date < "2020-12-21":
        return "fall"
    
    elif date < "2021-03-20":
        return "winter"
    
    elif date < "2021-06-20":
        return "spring"
    
    elif date < "2021-09-22":
        return "summer"
    
    elif date < "2021-12-21":
        return "fall"
    
    elif date < "2022-03-20":
        return "winter"
    
    elif date < "2022-06-21":
        return "spring"
    
    elif date < "2022-09-22":
        return "summer"
    
    elif date < "2022-12-21":
        return "fall"
    
    else:
        return "winter"

In [8]:
import pandas as pd
import numpy as np

import sklearn as sk
from sklearn import model_selection,linear_model, metrics
from sklearn.model_selection import train_test_split

import xgboost as xgb
import optuna as op

In [9]:
crime_df = pd.read_csv("../data/clean_crime_df.csv")
staff_df = pd.read_csv("../data/clean_staff_df.csv")

In [10]:
crime_df['call_min']=crime_df['call_time'].apply(lambda x: x[3:5])

In [11]:
crime_df.head(10)

,Call Date,call_time,District,Sector,Call Type,year,month,day,call_hour,month_day,priority,month_num,call_min
0,2020-01-01,00:05:46,2,21,UNKNOWN TROUBLE,2020,Jan,1,0,Jan-01,high,1,05
1,2020-01-01,02:06:01,4,44,ASSAULT IN PROGRESS,2020,Jan,1,2,Jan-01,high,1,06
2,2020-01-01,00:37:32,5,55,FIRE,2020,Jan,1,0,Jan-01,high,1,37
3,2020-01-01,01:41:30,5,55,CHECK WELFARE,2020,Jan,1,1,Jan-01,medium,1,41
4,2020-01-01,00:46:26,1,13,DOMESTIC VIOLENCE,2020,Jan,1,0,Jan-01,high,1,46
5,2020-01-01,00:47:19,2,22,MVC INJURY,2020,Jan,1,0,Jan-01,high,1,47
6,2020-01-01,01:29:17,2,23,SUSPICIOUS VEHICLE,2020,Jan,1,1,Jan-01,medium,1,29
7,2020-01-01,00:57:54,1,15,IMPAIRED,2020,Jan,1,0,Jan-01,high,1,57
8,2020-01-01,01:58:55,5,51,INJURED PERSON,2020,Jan,1,1,Jan-01,medium,1,58
9,2020-01-01,00:24:38,2,21,SOUND OF GUNSHOTS,2020,Jan,1,0,Jan-01,high,1,24

In [12]:
crime_df['season'] = crime_df['Call Date'].apply(seasonality)

crime_df.head()

,Call Date,call_time,District,Sector,Call Type,year,month,day,call_hour,month_day,priority,month_num,call_min,season
0,2020-01-01,00:05:46,2,21,UNKNOWN TROUBLE,2020,Jan,1,0,Jan-01,high,1,05,winter
1,2020-01-01,02:06:01,4,44,ASSAULT IN PROGRESS,2020,Jan,1,2,Jan-01,high,1,06,winter
2,2020-01-01,00:37:32,5,55,FIRE,2020,Jan,1,0,Jan-01,high,1,37,winter
3,2020-01-01,01:41:30,5,55,CHECK WELFARE,2020,Jan,1,1,Jan-01,medium,1,41,winter
4,2020-01-01,00:46:26,1,13,DOMESTIC VIOLENCE,2020,Jan,1,0,Jan-01,high,1,46,winter

In [13]:
crime_df.dtypes

Call Date    object
call_time    object
District      int64
Sector        int64
Call Type    object
year          int64
month        object
day           int64
call_hour     int64
month_day    object
priority     object
month_num     int64
call_min     object
season       object
dtype: object

In [14]:
crime_df['District']= crime_df['District'].apply(str)
crime_df['Sector']= crime_df['Sector'].apply(str)
crime_df['day']= crime_df['day'].apply(str)
crime_df['call_hour']= crime_df['call_hour'].apply(str)
crime_df['month_num']= crime_df['month_num'].apply(str)
crime_df.dtypes

Call Date    object
call_time    object
District     object
Sector       object
Call Type    object
year          int64
month        object
day          object
call_hour    object
month_day    object
priority     object
month_num    object
call_min     object
season       object
dtype: object

In [15]:
priority_pivot = crime_df.pivot_table(values='year', index = ['District', 'Sector', 'month_num', 'day', 'call_hour','season'], columns='priority', aggfunc='sum').reset_index()
priority_pivot

priority,District,Sector,month_num,day,call_hour,season,high,low,medium
0,1,11,1,1,0,winter,6062.0,2021.0,2020.0
1,1,11,1,1,1,winter,2020.0,NaN,2020.0
2,1,11,1,1,10,winter,2022.0,NaN,2021.0
3,1,11,1,1,11,winter,NaN,4043.0,2020.0
4,1,11,1,1,12,winter,NaN,4040.0,NaN
...,...,...,...,...,...,...,...,...,...
148462,5,55,9,9,5,summer,NaN,2022.0,NaN
148463,5,55,9,9,6,summer,2022.0,2020.0,4044.0
148464,5,55,9,9,7,summer,NaN,2022.0,NaN
148465,5,55,9,9,8,summer,NaN,NaN,4044.0
148466,5,55,9,9,9,summer,NaN,2022.0,NaN

In [16]:
priority_pivot.isna().sum()

priority
District          0
Sector            0
month_num         0
day               0
call_hour         0
season            0
high         100220
low           78607
medium        29313
dtype: int64

In [17]:
priority_pivot = priority_pivot.fillna(0)
priority_pivot

priority,District,Sector,month_num,day,call_hour,season,high,low,medium
0,1,11,1,1,0,winter,6062.0,2021.0,2020.0
1,1,11,1,1,1,winter,2020.0,0.0,2020.0
2,1,11,1,1,10,winter,2022.0,0.0,2021.0
3,1,11,1,1,11,winter,0.0,4043.0,2020.0
4,1,11,1,1,12,winter,0.0,4040.0,0.0
...,...,...,...,...,...,...,...,...,...
148462,5,55,9,9,5,summer,0.0,2022.0,0.0
148463,5,55,9,9,6,summer,2022.0,2020.0,4044.0
148464,5,55,9,9,7,summer,0.0,2022.0,0.0
148465,5,55,9,9,8,summer,0.0,0.0,4044.0
148466,5,55,9,9,9,summer,0.0,2022.0,0.0

In [18]:
# for col in priority_pivot.columns:
#     priority_pivot[col] = priority_pivot[col].apply(int)
    
# priority_pivot.dtypes

In [19]:
priority_pivot.shape

(148467, 9)

In [20]:
# randomize data
priority_pivot = priority_pivot.sample(148467, random_state = 888)
priority_pivot

priority,District,Sector,month_num,day,call_hour,season,high,low,medium
53868,2,23,4,4,8,spring,0.0,0.0,4042.0
124843,5,52,4,14,19,spring,0.0,4043.0,0.0
46318,2,22,5,17,16,spring,6063.0,4041.0,2022.0
52820,2,23,3,13,7,winter,0.0,4043.0,2020.0
112722,4,46,5,14,6,spring,0.0,2020.0,2021.0
...,...,...,...,...,...,...,...,...,...
70806,3,32,12,25,16,winter,0.0,0.0,2021.0
58607,2,24,12,11,12,fall,0.0,0.0,4043.0
80365,4,41,7,28,2,summer,0.0,2021.0,0.0
100250,4,44,5,29,4,spring,0.0,2020.0,0.0
10750,1,12,4,12,12,spring,0.0,0.0,2022.0

In [21]:
priority_pivot.dtypes

priority
District      object
Sector        object
month_num     object
day           object
call_hour     object
season        object
high         float64
low          float64
medium       float64
dtype: object

In [24]:
targets = ['high','low','medium']
# targets='high'

predictors = ['District', 'Sector', 
              'month_num', 'day', 
              'call_hour', 'season']

In [35]:
priority_pivot[predictors]

priority District Sector month_num day call_hour  season
53868           2     23         4   4         8  spring
124843          5     52         4  14        19  spring
46318           2     22         5  17        16  spring
52820           2     23         3  13         7  winter
112722          4     46         5  14         6  spring
...           ...    ...       ...  ..       ...     ...
70806           3     32        12  25        16  winter
58607           2     24        12  11        12    fall
80365           4     41         7  28         2  summer
100250          4     44         5  29         4  spring
10750           1     12         4  12        12  spring

[148467 rows x 6 columns]

In [36]:
priority_pivot.dtypes

priority
District      object
Sector        object
month_num     object
day           object
call_hour     object
season        object
high         float64
low          float64
medium       float64
dtype: object

In [43]:
priority_pivot

priority,District,Sector,month_num,day,call_hour,season,high,low,medium
53868,2,23,4,4,8,spring,0.0,0.0,4042.0
124843,5,52,4,14,19,spring,0.0,4043.0,0.0
46318,2,22,5,17,16,spring,6063.0,4041.0,2022.0
52820,2,23,3,13,7,winter,0.0,4043.0,2020.0
112722,4,46,5,14,6,spring,0.0,2020.0,2021.0
...,...,...,...,...,...,...,...,...,...
70806,3,32,12,25,16,winter,0.0,0.0,2021.0
58607,2,24,12,11,12,fall,0.0,0.0,4043.0
80365,4,41,7,28,2,summer,0.0,2021.0,0.0
100250,4,44,5,29,4,spring,0.0,2020.0,0.0
10750,1,12,4,12,12,spring,0.0,0.0,2022.0

In [38]:
df = priority_pivot.copy()

df['month_num'] = df['month_num'].apply(int)
df['day'] = df['day'].apply(int)
df['call_hour'] = df['call_hour'].apply(int)


target= ['high','low','medium']

predictors = ['District', 'Sector', 
              'month_num', 'day', 
              'call_hour', 'season']


X = df[predictors]


Y_unlabeled= df[target]

cat_preds = X[['season', 'District','Sector']]
num_preds = X[['month_num','day','call_hour']]

enc = OneHotEncoder(handle_unknown='ignore')
enc.fit(cat_preds)



cat_preds = enc.transform(cat_preds).toarray()
cat_preds = pd.DataFrame(cat_preds, index = num_preds.index)


X = pd.concat([num_preds,cat_preds],axis=1)




x_train, x_test, y_train, y_test = model_selection.train_test_split(
    X, Y, 
    random_state=888, 
    test_size=0.20)

In [39]:
xgb_model = xgb.XGBRegressor(tree_method='hist', objective='reg:squarederror')
xgb_model.fit(x_train, y_train)

y_pred = xgb_model.predict(x_train)
pd.DataFrame(y_pred)

                  0            1            2
0        320.429932   648.765747  2637.094971
1        612.705688   569.707336  3146.677002
2       1225.623047  1114.779785  3124.135742
3        849.571228  1044.388794  2184.263916
4        700.651611   767.772461  2282.310059
...             ...          ...          ...
118768   829.354431  1647.393799  4380.766113
118769   738.897949  1169.229126  2683.852783
118770  2061.116455  1287.203857  5503.963867
118771  1777.871582  1097.816284  4560.848145
118772  1590.755615  1399.235718  3322.597412

[118773 rows x 3 columns]

In [42]:
from sklearn.metrics import mean_absolute_error, mean_squared_error
mean_squared_error(y_train, y_pred, squared=False)

/Users/kennethleung/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:757: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
/Users/kennethleung/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:595: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/Users/kennethleung/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:604: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):

1961.5742942120803